[submodule "blur-my-shell@aunetx"]
	path = system_files/desktop/silverblue/usr/share/gnome-shell/extensions/blur-my-shell@aunetx
	url = https://github.com/aunetx/blur-my-shell.git
[submodule "hotedge@jonathan.jdoda.ca"]
	path = system_files/desktop/silverblue/usr/share/gnome-shell/extensions/hotedge@jonathan.jdoda.ca
	url = https://github.com/jdoda/hotedge.git
[submodule "appindicatorsupport@rgcjonas.gmail.com"]
	path = system_files/desktop/silverblue/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com
	url = https://github.com/ubuntu/gnome-shell-extension-appindicator.git
[submodule "caffeine@patapon.info"]
	path = system_files/desktop/silverblue/usr/share/gnome-shell/extensions/tmp/caffeine
	url = https://github.com/eonpatapon/gnome-shell-extension-caffeine.git
[submodule "auto-move-windows@gnome-shell-extensions.gcampax.github.com"]
	path = system_files/desktop/silverblue/usr/share/gnome-shell/extensions/auto-move-windows@gnome-shell-extensions.gcampax.github.com
	url = https://gitlab.gnome.org/GNOME/gnome-shell-extensions.git
